# Based on .gitignore

/**
!/app/
!/patches/
!/python/
!/package.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/pyproject.toml
!/uv.lock

# secret & data
**/.env*
**/uploads/

# generated
**/.astro/
**/.next/
**/.venv/
**/coverage/
**/dist/
**/src/generated/prisma/
**/__pycache__/
**/node_modules/

**/*.sqlite*
**/*.tsbuildinfo
**/next-env.d.ts

# debug
**/*.log*

# misc
**/.DS_Store
**/*.pem
