# secret & data
/data
/.env*
!.env*.example
**/uploads/

# generated
**/.astro/
**/.next/
**/.venv/
**/coverage/
**/dist/
**/src/generated/prisma/
**/__pycache__/
**/node_modules/

**/*.sqlite*
**/*.tsbuildinfo
**/next-env.d.ts

# debug
**/*.log*

# misc
**/.DS_Store
**/*.pem
