# secret & data
.env*
!.env.example
/uploads/

# generated
/.next/
/coverage/
/src/generated/prisma/
__pycache__/
node_modules/


*.sqlite
*.tsbuildinfo
next-env.d.ts

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem
