---
import "@/styles/global.css";

// TODO: including these fonts because current astro fonts seem to not load the Japanese portion of the font.
import "@fontsource-variable/noto-sans-jp";
import "@fontsource-variable/inconsolata";

import { Navigation } from "@/components/navigation";
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import { Toaster } from "@/components/ui/sonner";

export interface Props {
  title?: string;
  description?: string;
}

const { title = "Voicenotes", description = "Transcribe your voice notes to text with ease." } = Astro.props;
const url = new URL(Astro.request.url);
const user = Astro.locals.user;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <Font cssVariable="--font-noto-sans-jp" preload />
    <Font cssVariable="--font-inconsolata" preload />
    <ClientRouter fallback="swap" />
  </head>
  <body class="min-h-screen bg-gradient-to-br from-blue-50 to-indigo-100" transition:animate="none">
    <Navigation client:load pathname={url.pathname} user={user} transition:persist />
    <slot />
    <Toaster client:load />
  </body>
</html>
