---
import "@/styles/global.css";

// TODO: including these fonts because current astro fonts seem to not load the Japanese portion of the font.
import "@fontsource-variable/noto-sans-jp";
import "@fontsource-variable/inconsolata";

import { Navigation } from "@/components/navigation";
import { Font } from "astro:assets";

export interface Props {
  title?: string;
  description?: string;
}

const { title = "Voicenotes", description = "Transcribe your voice notes to text with ease." } = Astro.props;
const url = new URL(Astro.request.url);
const user = Astro.locals.user;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <Font cssVariable="--font-noto-sans-jp" preload />
    <Font cssVariable="--font-inconsolata" preload />
    <script>
      import Swup from "swup";
      import SwupHeadPlugin from "@swup/head-plugin";
      import SwupScriptsPlugin from "@swup/scripts-plugin";
      window.swup = new Swup({
        plugins: [new SwupHeadPlugin(), new SwupScriptsPlugin()],
      });
    </script>
  </head>
  <body class="min-h-screen bg-gradient-to-br from-blue-50 to-indigo-100">
    <Navigation client:load pathname={url.pathname} user={user} />
    <main id="swup">
      <slot />
    </main>
  </body>
</html>
